body {
    width: 1000px;
    margin: auto;
}

.venstre {
    width: 47%;
    background-color: darkorange;
    float: left;
    margin-right: 1%;
    padding: 1%;
}

.hoyre {
    width: 47%;
    background-color:lightblue;
    float: left;
    margin-left: 1%;
    padding: 1%;
}

.vestretredel {
    width: 30%;
    background-color:rgb(173, 230, 185);
    float: left;
    margin-right: 1%;
    padding: 1%;
}

.midtretredel {
    width: 30%;
    background-color:rgb(173, 230, 185);
    margin-right: 0.5%;
    float: left;
    margin-left: 0.5%;
    padding: 1%;
}

.hoyretredel {
    width: 30%;
    background-color:rgb(173, 230, 185);
    margin-left: 1%;
    float: left;
    padding: 1%;
}

.full {
    margin-bottom: 20px;
    height: 180px;
}

.full2 {
    margin-top: 170px;
}

.bilderamme {
    width: 64%;
    float: right;
}

.textstripe {
    width: 34%;
}



